{
  "root": true,
  "extends": ["plugin:@wordpress/eslint-plugin/recommended"],
  "rules": {
    "jsdoc/newline-after-description": 0
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "wp": "writable",
    "FetchEvent": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  }
}
