<?xml version="1.0"?>
<ruleset name="PWA">
	<description>Custom ruleset for PWA plugin.</description>

	<!-- For help in understanding this file: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<!-- For help in using PHPCS: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->

	<!-- What to scan -->
	<file>.</file>

	<!-- Ignoring Files and Folders:
		https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#ignoring-files-and-folders -->
	<exclude-pattern>./node_modules/</exclude-pattern>
	<exclude-pattern>./vendor/</exclude-pattern>
	<exclude-pattern>./build/</exclude-pattern>
	<exclude-pattern>./wp-includes/js/dist/</exclude-pattern>

	<!-- How to scan -->
	<arg value="sp"/> <!-- Show sniff and progress -->
	<arg name="colors"/> <!-- Show results with colors -->
	<arg name="basepath" value="."/> <!-- Strip the file paths down to the relevant bit -->
	<arg name="parallel" value="20"/> <!-- Enables parallel processing when available for faster results. -->
	<arg name="extensions" value="php"/> <!-- Limit to PHP files -->

	<!-- Rules: Check PHP version compatibility - see
			https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibilityWP">
		<exclude-pattern>bin/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.NamingConventions.ValidVariableName">
		<properties>
			<property name="allowed_custom_properties" value="childNodes,tagName,textContent,parentNode,nodeType,nodeName,nextSibling,firstChild,lastChild,nodeValue,DEFAULT_ARGS,documentElement,removeChild,ownerDocument,DEFAULT_WIDTH,DEFAULT_HEIGHT" />
		</properties>
	</rule>

	<!-- For help in understanding this testVersion:
		https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="7.0-"/>

	<!-- Rules: WordPress Coding Standards - see
			https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards -->
	<rule ref="WordPress-Core"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="WordPress-Extra"/>

	<!-- For help in understanding these custom sniff properties:
			https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties -->
	<config name="minimum_supported_wp_version" value="6.3"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="pwa"/>
				<element value="default"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress-VIP-Go">
		<exclude-pattern>tests/*</exclude-pattern>
		<exclude-pattern>bin/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
	<rule ref="WordPress.Files.FileName.InvalidTemplateTagFileName">
		<exclude-pattern>wp-includes/template.php</exclude-pattern>
	</rule>

</ruleset>
