includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 5
	inferPrivatePropertyTypeFromConstructor: true
	bootstrapFiles:
		- tests/static-analysis-stubs/wordpress-defines.stub
	dynamicConstantNames:
		- SCRIPT_DEBUG
	paths:
		- pwa.php
		- wp-admin/
		- wp-includes/
		- bundled-theme-support/
		- integrations/
	ignoreErrors:
		# Uses func_get_args()
		- '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
		# Dynamically set attributes which will be eventually declared on WP_Query.
		- '#^Access to an undefined property WP_Query::\$is_offline\.#'
		- '#^Access to an undefined property WP_Query::\$is_500\.#'
