<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory suffix=".php">./node_modules</directory>
				<directory suffix=".php">./tests</directory>
				<directory suffix=".php">./vendor</directory>
				<directory suffix=".php">./build</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
