#wpadminbar #pwa-sw-update-notice {
    position: absolute;
    top: 32px;
    right: 0;
    background: #fff;
    padding: 10px 40px 10px 10px;
    color: #000;
    box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, .1 );
}

@media screen and (max-width: 782px) {
    #wpadminbar #pwa-sw-update-notice {
        top: 46px;
    }
}

#pwa-sw-update-notice.hidden {
    display: none;
}

#pwa-sw-update-notice a {
    text-transform: uppercase;
    color: #00a0d2;
    cursor: pointer;
}

#pwa-sw-update-notice .notice-dismiss {
    position: absolute;
    top: 6px;
    right: 1px;
    border: none;
    margin: 0;
    padding: 9px;
    background: 0 0;
    color: #72777c;
    cursor: pointer;
}

#pwa-sw-update-notice .notice-dismiss:before {
    background: 0 0;
    color: #72777c;
    content: "\f153";
    display: block;
    font: 400 16px/20px dashicons;
    speak: none;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
